.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: #181818;
  z-index: 5;
}

.navbar-brand-container {
  color: #fff;
  letter-spacing: 0;
  padding-top: 30px;
  font-family: Teko, sans-serif;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
}

.navbar-link-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding-top: 10px;
}

.navbar-link {
  color: #fff;
  padding-top: 20px;
  font-family: Teko, sans-serif;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.258s;
}

.navbar-link:hover {
  opacity: 0.52;
}

.navbar-brand-container > a,
.navbar-link > a {
  color: inherit;
  text-decoration: none;
}

.navbar-brand-container:hover > a,
.navbar-link:hover > a {
  color: inherit;
  text-decoration: none;
}
