.navbar-container {
    width: 100%;
    height: var(--navbar-height);
    background-color: #181818;
}

.navbar-brand-container {
    color: #fff;
    letter-spacing: 0;
    padding-top: 20px;
    font-family: Teko,sans-serif;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.navbar-link {
    color: #fff;
    padding-top: 20px;
    font-family: Teko,sans-serif;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    transition: all .258s;
}

.navbar-link:hover {
    opacity: .52;
}

.navbar-link > a {
    color: inherit;
    text-decoration: none;
}