.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 600px;
  background: #232323c2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 15px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  align-items: center;
}

.pricing-card::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ce225ba2, #533adfa2, #181818a2);
  transform: translate3d(0px, 0px, 0) scale(1);
  filter: blur(40px);
  opacity: 0.5;
  border-radius: inherit;
  animation: pricingCard 2s ease infinite alternate-reverse;
}

@keyframes pricingCard {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(40px);
  }
}

.pricing-card-content-title {
  margin-top: 60px;
  font-size: 54px;
  font-weight: 600;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  opacity: 0.8;
}

.pricing-card-content-description {
  margin-top: 60px;
  font-size: 22px;
  font-weight: 200;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  width: 80%;
  opacity: 0.8;
}

.contact-us-button-button {
  font-family: Teko, sans-serif;
  color: #fff;
  background-color: transparent;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  font-weight: 400;
  font-size: 30px;
  padding: 10px;
}

.contact-us-button-button:hover {
  color: #181818;
  background-color: #fff;
}
