.project-card {
  display: flex;
  height: 420px;
  width: 80vw;
  margin-top: 90px;
  margin-bottom: 90px;
  z-index: 1;
  gap: 120px;
}

.project-card-background-container {
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.project-card-background-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ce225a, #523adf, #181818);
  transform: translate3d(0px, 20px, 0) scale(1);
  filter: blur(70px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.project-card-background-container::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.project-card-background-container:hover {
  transform: scale(1.05);
}

.project-card-background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 400px;
  transition: all 0.3s;
  border-radius: 10px;
}

.project-card-content-name {
  margin-top: 40px;
  font-size: 54px;
  font-weight: 600;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  opacity: 0.8;
}

.project-card-content-description {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 200;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  width: 80%;
  opacity: 0.8;
}

.project-card-view-more-details-button {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  background-color: transparent;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.project-card-view-more-details-button:hover {
  color: #181818;
  background-color: #fff;
}

.project-card-hidden {
  opacity: 0;
  transition: opacity 1s;
}

@media (prefers-reduced-motion) {
  .project-card-hidden {
    transition: none;
  }
}

.project-card-show {
  opacity: 1;
}
