.projects-heading-conatiner {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20vw;
}

.projects-heading {
  color: #fff;
  text-align: left;
  letter-spacing: 0;
  font-family: Teko, sans-serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  position: relative;
  opacity: 0.8;
}

@media (max-width: 1300px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
