.why-us-card {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us-card:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.why-us-card-content-title {
  margin-top: 60px;
  font-size: 54px;
  font-weight: 600;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  opacity: 0.8;
}

.why-us-card-content-description {
  margin-top: 60px;
  font-size: 22px;
  font-weight: 200;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  width: 80%;
  opacity: 0.8;
}

.why-us-card-hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

@media (prefers-reduced-motion) {
  .why-us-card-hidden {
    transition: none;
  }
}

.why-us-card-show {
  opacity: 1;
}
