.why-us-card {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: #232323c2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us-card:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(70px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.why-us-card-content-title {
  margin-top: 60px;
  font-size: 54px;
  font-weight: 600;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  opacity: 0.8;
}

.why-us-card-content-description {
  margin-top: 60px;
  font-size: 22px;
  font-weight: 200;
  font-family: Archivo Black, sans-serif;
  color: #fff;
  z-index: 2;
  width: 80%;
  opacity: 0.8;
}

.why-us-card-hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

@media (prefers-reduced-motion) {
  .why-us-card-hidden {
    transition: none;
  }
}

.why-us-card-show {
  opacity: 1;
}
